.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-filter{
    display: none;
    padding: 10px;
}

.panel-body {
  padding: 0!important;
}


#dev-table_wrapper .row {
  margin: 0;
  padding: 0;
}

#dev-table_wrapper .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

.table {
  margin: 0;
}

.resp {
  overflow: auto;
}
