<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" type="text/css" href="style/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="style/index.css">
	<link rel="stylesheet" type="text/css" href="style/font-awesome-4.7.0/css/font-awesome.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center login-alert">
            <h1><span class="fa fa-lock"></span> Please login first</h1>
						<a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        </div>
    </div>
</body>
</html>
