<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
        <link rel="stylesheet" href="/style/font-awesome-4.7.0/css/font-awesome.min.css">
        <script src="/jquery.min.js"></script>
        <script src="/bootstrap.min.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Bug Tracker</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <% if(user.class == 0) { %>
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bug Report&nbsp<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/home/unassignedBugs">Unassigned</a></li>
                          <li><a href="/home/assignedBugs">Assigned</a></li>
                          <li><a href="/home/closedBugs">Closed</a></li>
                        </ul>
                      </li>
                    <li><a href="/home/approveBugs">Approve Resolved Bugs<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Projects&nbsp<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/home/manageTesters">Manage Testers</a></li>
                        <li><a href="/home/manageDevelopers">Manage Developers</a></li>
                      </ul>
                    </li>
                  </ul>
              <% } else if(user.class == 1) {%>
                  <ul class="nav navbar-nav">
                    <li><a href="#">Tasks</a></li>
                    <li><a href="/home/reportBug">Report Bugs<span class="sr-only">(current)</span></a></li>
                    <li><a href="/home/reviewBugs">Review Bugs</a></li>
                    <li><a href="/home/trackBugs">Track Bugs</a></li>
                  </ul>
              <% } else if(user.class == 2) {%>
                  <ul class="nav navbar-nav">
                    <li><a href="/home/devBugReport">Bug Report</a></li>
                    <li><a href="/home/devBugHistory">Bug History<span class="sr-only">(current)</span></a></li>
                  </ul>
              <% } %>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Welcome, <%= user.name %></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logout<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

    </body>
</html>
