<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
        <link rel="stylesheet" href="/style/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/style/navbar.css">
        <script src="/jquery.min.js"></script>
        <script src="/bootstrap.min.js"></script>

    </head>
    <body>
      <script src="/activeTab.js"></script>

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home/">
                  Bug Tracker
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <% if(user.class == 0) { %>
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bug" aria-hidden="true"></i>&nbsp&nbspBug Report&nbsp<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/admin/bugReports/overview">Overview</a></li>
                          <li><a href="/admin/bugReports/unassignedBugs">Unassigned</a></li>
                          <li><a href="/admin/bugReports/assignedBugs">Assigned</a></li>
                          <li><a href="/admin/bugReports/closedBugs">Closed</a></li>
                        </ul>
                      </li>
                    <li><a href="/admin/approveBugs"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp&nbspApprove Resolved Bugs<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspManage Project Team&nbsp<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/admin/manageProjectTeam/manageTesters">Manage Testers</a></li>
                        <li><a href="/admin/manageProjectTeam/manageDevelopers">Manage Developers</a></li>
                      </ul>
                    </li>
                    <li><a href="/admin/manageProjects"><i class="fa fa-folder-open-o" aria-hidden="true"></i>&nbsp&nbspManage Projects</a></li>
                    <li><a href="/admin/addUsers"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp&nbspAdd Users</a></li>
                  </ul>
              <% } else if(user.class == 1) {%>
                  <ul class="nav navbar-nav">
                    <li><a href="/tester/testerTasks"><i class="fa fa-tasks" aria-hidden="true"></i>&nbsp&nbspTasks</a></li>
                    <li><a href="/tester/reportBug"><i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp&nbspReport Bugs<span class="sr-only">(current)</span></a></li>
                    <li><a href="/tester/reviewBugs"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp&nbspReview Bugs</a></li>
                    <li><a href="/tester/trackBugs"><i class="fa fa-bug" aria-hidden="true"></i>&nbsp&nbspTrack Bugs</a></li>
                  </ul>
              <% } else if(user.class == 2) {%>
                  <ul class="nav navbar-nav">
                    <li><a href="/developer/bugReport"><i class="fa fa-bug" aria-hidden="true"></i>&nbsp&nbspBug Report</a></li>
                    <li><a href="/developer/bugHistory"><i class="fa fa-history" aria-hidden="true"></i>&nbsp&nbspBug History<span class="sr-only">(current)</span></a></li>
                    <li><a href="/developer/rejectedBugs"><i class="fa fa-ban" aria-hidden="true"></i>&nbsp&nbspRejected Bugs</a></li>
                  </ul>
              <% } %>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Welcome, <%= user.name %></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logout<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/logout">Logout&nbsp<i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Employee ID : <%= user.employee_id %> </a></li>
                    <% if(user.class == 0) { %>
                      <li><a href="#">Class : Admin </a></li>
                    <% } else if(user.class == 1) { %>
                      <li><a href="#">Class : Tester </a></li>
                    <% } else if(user.class == 2) { %>
                      <li><a href="#">Class : Developer </a></li>
                    <% } %>
                    <li><a href="#">Email : <%= user.email %> </a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

    </body>
</html>
