<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
        <link rel="stylesheet" href="/style/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/style/navbar.css">
        <script src="/jquery.min.js"></script>
        <script src="/bootstrap.min.js"></script>


    </head>
    <body>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="exampleModalLabel"><h3>Bug Details</h3></h5>
              </div>
              <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="bug_name" class="form-control-label">Bug Name</label>
                              <input type="text" class="form-control" id="bug_name" value="" disabled>
                            </div>
                        </div>
                    </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                            <label for="bug_id" class="form-control-label">Bug ID</label>
                            <input type="text" class="form-control" id="bug_id" value="" disabled>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                            <label for="bug_type" class="form-control-label">Bug Type</label>
                            <input type="text" class="form-control" id="bug_type" value="" disabled>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <label for="description" class="form-control-label">Description</label>
                          <textarea class="form-control" id="description" disabled></textarea>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-4">
                          <label for="priority" class="form-control-label">Priority</label>
                          <input type="text" class="form-control" id="priority" value="" disabled>
                      </div>
                      <div class="col-sm-4">
                          <label for="severity" class="form-control-label">Severity</label>
                          <input type="text" class="form-control" id="severity" value="" disabled>
                      </div>
                      <div class="col-sm-4">
                          <label for="status" class="form-control-label">Status</label>
                          <input type="text" class="form-control" id="status" value="" disabled>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-4">
                          <label for="project_id" class="form-control-label">Project ID</label>
                          <input type="text" class="form-control" id="project_id" value="" disabled>
                      </div>
                      <div class="col-sm-4">
                          <label for="tester_id" class="form-control-label">Tester ID</label>
                          <input type="text" class="form-control" id="tester_id" value="" disabled>
                      </div>
                      <div class="col-sm-4">
                          <label for="developer_id" class="form-control-label">Developer ID</label>
                          <input type="text" class="form-control" id="developer_id" value="" disabled>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <label for="file" class="form-control-label">File</label>
                          <input type="text" class="form-control" id="file" value="" disabled>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-10">
                          <label for="method" class="form-control-label">Method</label>
                          <input type="text" class="form-control" id="method" value="" disabled>
                      </div>
                      <div class="col-sm-2">
                          <label for="file" class="form-control-label">Line</label>
                          <input type="line" class="form-control" id="line" value="" disabled>
                      </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <nav class="navbar navbar-primary">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home/" style="color: white">
                  Bug Tracker
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <% if(user.class == 0) { %>
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bug Report&nbsp<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/admin/bugReports/unassignedBugs">Unassigned</a></li>
                          <li><a href="/admin/bugReports/assignedBugs">Assigned</a></li>
                          <li><a href="/admin/bugReports/closedBugs">Closed</a></li>
                        </ul>
                      </li>
                    <li><a href="/admin/approveBugs">Approve Resolved Bugs<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Project Team&nbsp<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/admin/manageProjectTeam/manageTesters">Manage Testers</a></li>
                        <li><a href="/admin/manageProjectTeam/manageDevelopers">Manage Developers</a></li>
                      </ul>
                    </li>
                    <li><a href="/admin/manageProjects">Manage Projects</a></li>
                  </ul>
              <% } else if(user.class == 1) {%>
                  <ul class="nav navbar-nav">
                    <li><a href="/tester/testerTasks">Tasks</a></li>
                    <li><a href="/tester/reportBug">Report Bugs<span class="sr-only">(current)</span></a></li>
                    <li><a href="/tester/reviewBugs">Review Bugs</a></li>
                    <li><a href="/tester/trackBugs">Track Bugs</a></li>
                  </ul>
              <% } else if(user.class == 2) {%>
                  <ul class="nav navbar-nav">
                    <li><a href="/developer/bugReport">Bug Report</a></li>
                    <li><a href="/developer/bugHistory">Bug History<span class="sr-only">(current)</span></a></li>
                    <li><a href="/developer/rejectedBugs">Rejected Bugs</a></li>
                  </ul>
              <% } %>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Welcome, <%= user.name %></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logout<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/logout">Logout</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">User ID : <%= user.id %> </a></li>
                    <li><a href="#">Employee ID : <%= user.employee_id %> </a></li>
                    <li><a href="#">Email : <%= user.email %> </a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

    </body>
</html>
